<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Create Yourself</title>
</head>
<body>
    <p>Create yourself.</p>
    <form method="post">
        <label for="name">Name</label>
        <input id="name" name="name" type="text"/>
        <label for="email">Email</label>
        <input id="email" name="email" type="email"/>
        <label for="password">Password</label>
        <input id="password" name="password" type="password"/>
        <label for="birth">Birth</label>
        <input id="birth" name="birth" type="datetime-local"/>
        <input type="submit"/>
    </form>
</body>
</html>