<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Create a Person</title>
</head>
<body>
    {% if error %}
        <p id="error">{{ error }}</p>
    {% endif %}
    <p>Create yourself.</p>
    <form method="post">
        <label for="name">Name</label>
        <input id="name" name="name" type="text"/>
        <label for="birth">Birthdate (and time)</label>
        <input id="birth" name="birth" type="datetime-local"/>
        <input type="submit"/>
    </form>
</body>
</html>